In [ ]:
temp = float(input("Enter the temperature of the water : "))

if temp > 0 and temp <= 100 :
  print("Liquid")
else:
  print("not liquid")

Enter the temperature of the water : 102.3
not liquid

In [ ]:
attending = True
grade = 70

if not attending or grade < 60:
  print("Drop ?")
elif attending and not (grade < 60):
  print("stay")

stay

In [ ]:
userPassword = input("Enter user password : ")
filePassword = input("Enter file password : ")

if userPassword != filePassword :
  print("Not the same re-enter correct password")
else:
  print("Success")

Enter user password : aa1234
Enter file password : ab1234
Not the same re-enter correct password

In [ ]:
num1= int(input("Enter number 1 :" ))
num2= int(input("Enter number 2 :" ))

if num1 > 0 and num1 == num2:
  print("num1 grater than 0 or num1 is equal to num2")
elif num1 < num2 or num1 == num2:
    print("num1 less than num2 or num1 is equal to num2")
else:
  print("wrong num")

Enter number 1 :7
Enter number 2 :10
num1 less than num2 or num1 is equal to num2

In [ ]:
epsilon = 2.0
a = float(input("Enter number 1: "))
b = float(input("Enter number 2: "))

if a - b < epsilon:
    print("Numbers are approximately equal")
else:
    print("Not the same, re-enter correct numbers")

Enter number 1: 2.4
Enter number 2: 2.2
Numbers are approximately equal

In [ ]:
frozen = False

if frozen == True:
  print("frozen")
else:
  print("Not frozen")

Not frozen

In [ ]:
name = "Iman"
if "i" in name or "I" in name :
  print(name)
else:
  print("False")

Iman

In [ ]:
name = "Rahaf"
if "i" not in name or "I" not in name :
  print(name)
else:
  print("False")

Rahaf

In [ ]:
name = "Abdullah"
if name.endswith("h"):
  print(name)

Abdullah

In [ ]:
name = "Abdullah"
if name.startswith("A"):
  print(name)

Abdullah

In [ ]:
name = "Abdullah"
name.count("l")

2

In [ ]:
name = "Abdullah"
name.find("d")

2

In [ ]:
name = "Abdullah"
name.isalpha()

True

In [ ]:
name = "Abdullah"
name.isdigit()

False

In [ ]:
name = "Abdullah"
name.isalnum()

True

In [ ]:
name = "ABDULLAH"
name.isupper()

True

In [ ]:
name = "Abdullah"
name.islower()

False

In [ ]:
name = "   "
name.isspace()

True

In [ ]:
floor = int(input("Enter floor number : "))
if floor == 13:
  print("Error: There is no thirteenth floor")

elif floor <= 0 or floor > 20 :
  print("Error: The floor must be between 1 and 20")
else:
  print(floor)

Enter floor number : 22
Error: The floor must be between 1 and 20

In [ ]:
import sys

username = input("Enter username: ")
password = input("Enter password: ")

if not username or " " in username:
    print("Invalid")
    sys.exit()

if (len(password) < 8 or
    not any(char.isdigit() for char in password) or
    not any(char.isupper() for char in password) or
    not any(char.islower() for char in password)):
    print("Invalid")
    sys.exit()

print("Success")

Enter username: Iman
Enter password: User1234
Success

In [ ]:
rate = 5
balance = 10000.0
target = 20000.0
year = 0
while balance < target :
  year = year + 1
  intrest = balance * rate / 100
  balance = balance + intrest

print(year)

15

In [ ]:
counter = 1
sum = 0
while counter <= 10:
  sum =sum +counter
  counter = counter + 1
print(sum)

55

In [ ]:
num = "1729"
sum = 0

for char in num:
  i = int(char)
  sum += i

print(sum)

19

In [ ]:
n = 1729
total = 0
while n > 0 :
  digit = n % 10
  total = total + digit
  n = n // 10
print(total)

19

In [ ]:
total = 0.0
count = 0.07654
45
65

salary = 0.0
while salary >= 0 :
  salary = float(input("Enter a salary or -1 to finish : "))
  if salary >= 0.0:
    total = total + salary
    count = count + 1
if count > 0 :
  average = total / count
  print("Average salary is : ",average)
else:
  print("No data was entered")

Enter a salary or -1 to finish : 660
660.0
Enter a salary or -1 to finish : 700
1360.0
Enter a salary or -1 to finish : 800
2160.0
Enter a salary or -1 to finish : 890
3050.0
Enter a salary or -1 to finish : -1
Average salary is :  748.183508563635

In [ ]:
done = False
while not done :
  value = float(input("Enter a salary or -1 to finish : "))
  if value < 0.0:
    done = True
  else:
    print(done)

Enter a salary or -1 to finish : 44
False
Enter a salary or -1 to finish : 988
False
Enter a salary or -1 to finish : -1

In [ ]:
balance = 0

while balance < 1000:
    deposit = 6(input("Enter deposit amount: "))
    balance += deposit
    print("Balance:", balance)

print("Total balance:", balance)

Enter deposit amount: 654
Balance: 654
Enter deposit amount: 54
Balance: 708
Enter deposit amount: 432
Balance: 1140
Total balance: 1140

In [ ]:
total = 0
count = 0
inputstr= input("Enter value : ")

while inputstr !="" :
  value = float(inputstr)
  total = total + value
  count = count + 1
  inputstr = input()

if count > 0 :
  average = total / count
else :
  average = 0.0

print("Average ",average)

Enter value : 655
865
767

Average  762.3333333333334

In [ ]:
neg = 0
pos = 0
inputstr = input("Enter value : ")

while inputstr != "" :
  value = int(inputstr)
  if value < 0 :
    neg = neg + 1
  elif value > 0 :
    pos = pos + 1

  inputstr = input()


print("There were", neg, "negative values")
print("There were", pos, "positive values")

Enter value : 987
98
-987
-45
-23

There were 3 negative values
There were 2 positive-- values

In [ ]:
valid =False
while not valid:
  value = int(input("Please enter a positive value < 100 :"))
  if value > 0 and value < 100 :
    valid = True
  else:
    print("Invalid input")

Please enter a positive value < 100 :1990
Invalid input
Please enter a positive value < 100 :780
Invalid input
Please enter a positive value < 100 :90

In [ ]:
max = int(input("Enter a value : "))
inputstr = input("Ente a value : ")
while inputstr != "" :
  value = int(inputstr)
  if value > max :
    max = value
  inputstr = input("Ente a value : ")
print(max)

Enter a value : 8
Ente a value : 6
Ente a value : 4
Ente a value : 7
Ente a value : 2
Ente a value :
8

In [ ]:
min = int(input("Enter a value : "))
inputstr = input("Ente a value : ")
while inputstr != "" :
  value = int(inputstr)
  if value < min :
    min = value
  inputstr = input("Ente a value : ")
print(min)

Enter a value : 8
Ente a value : 6
Ente a value : 4
Ente a value : 7
Ente a value : 2
Ente a value :
2

In [ ]:
value = int(input("Enter value : "))
inputstr = input("Enter value : ")

while inputstr != "" :
  previous = value
  value = int(inputstr)

  if value == previous :
    print("Duplicate input")
  inputstr = input("Enter value : ")

Enter value : 0
Enter value : 6
Enter value : 5
Enter value : 0
Enter value : 0
Duplicate input
Enter value : 0
Duplicate input
Enter value : 9
Enter value : 8
Enter value :

In [ ]:
name = "Iman Abdullah"
for i in name :
  print(i, end="")

Iman Abdullah

In [ ]:
#range = end - start
for i in range(1,10) :
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(5) :
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,10,2) :
  print(i)

1
3
5
7
9

In [ ]:
for i in range(10,1,-2) :
  print(i)

10
8
6
4
2

In [ ]:
balance = 10000.00
rate = 0.05
numYears = int(input("Enter number of years : "))

for year in range(1, numYears + 1):
    intrest = balance * rate
    balance = balance + intrest

    print("year",year, "balance",balance)

Enter number of years : 5
year 1 balance 10500.0
year 2 balance 11025.0
year 3 balance 11576.25
year 4 balance 12155.0625
year 5 balance 12762.815625

In [ ]:
print("00", end = "")
print(3 + 4)

007

In [ ]:
#rows  range of the outer loop
#columns  range of the inner loop
#Neasted loop


for x in range(1,11) :
  for n in range(1,5):
    print(x**n, end="")
  print()

1111
24816
392781
41664256
525125625
6362161296
7493432401
8645124096
9817296561
10100100010000

In [ ]:
print('x^1   x^2   x^3   x^4')

for x in range(1, 11):
    print(f"{x**1}   {x**2}   {x**3}   {x**4}")

x^1   x^2   x^3   x^4
1   1   1   1
2   4   8   16
3   9   27   81
4   16   64   256
5   25   125   625
6   36   216   1296
7   49   343   2401
8   64   512   4096
9   81   729   6561
10   100   1000   10000

In [ ]:
for i in range(3):
  for j in range(4):
    print("*", end ="")
  print()

****
****
****

In [ ]:
for i in range(4):
  for j in range(i + 1):
    print("*", end ="")
  print()

*
**
***
****

In [ ]:
for i in range(3):
  for j in range(5):
    if j % 2 ==1:
      print("*", end = "")
    else:
      print("-",end = "")
  print()

-*-*-
-*-*-
-*-*-

In [ ]:
for i in range(3):
  for j in range(5):
    if i % 2 == j% 2 :
      print("*", end="")
    else:
      print(" ",end="")
  print()

* * *
 * *
* * *

In [ ]:
#Outer loop runs 3 times
#Inner loop runs 4 times


for i in range(3):
    for j in range(4):
        print("[]", end="")
    print()

[][][][]
[][][][]
[][][][]

In [ ]:
for i in range(5):
  for j in range()

In [ ]:
students = [[90, 85, 88], [75, 80, 70], [100, 95, 98]]

for i in range(len(students)):
    grades = students[i]
    average = sum(grades) / len(grades)
    print("Student", i + 1, "average grade:", average)

Student 1 average grade: 87.66666666666667
Student 2 average grade: 75.0
Student 3 average grade: 97.66666666666667

In [ ]:
def rectangleVolume(sideLength,sideWidth ):
  Volume = sideLength * sideWidth
  return Volume

res1 = rectangleVolume(2,4)
res2= rectangleVolume(5,6)

print("A rectangle with length 2 and width 4 has volume ", res1)
print("A rectangle with length 5 and width 6 has volume ", res2)

A rectangle with length 2 and width 4 has volume  8
A rectangle with length 5 and width 6 has volume  30

In [ ]:
def main():
  sum = 0
  for i in range(11):
    square = i * i
    sum = sum + square
  print(square, sum)

main()

100 385

In [ ]:
balance = 10000
def withdraw(amount) :
  global balance
  if balance >= amount :
    balance = balance - amount

def deposite(amount):
  global balance
  balance = balance + amount

withdraw(350)
#deposite(100)
print("Balance after withdraw = ",balance)
#print("Balance after deposite = ",balance)

Balance after withdraw =  9650

In [ ]:
def greet(name) :
  print(f"Hello, {name} ! Welcome to Python.")
greet("Iman")

Hello, Iman ! Welcome to Python.

In [ ]:
def add(num1,num2):
  return num1 + num2

print("Addition : ",add(1,2))
print("Addition : ",add(5,5))

Addition :  3
Addition :  10

In [ ]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

print("Fahrenheit is:", celsius_to_fahrenheit(25))
print("Fahrenheit is:", celsius_to_fahrenheit(40))

Fahrenheit is: 77.0
Fahrenheit is: 104.0

In [ ]:
def square(num):
  return num **2

print("Square of the number : ",square(3))
print("Square of the number : ",square(8))

Square of the number :  9
Square of the number :  64

In [ ]:
def is_even(integer):
  return integer % 2 == 0

print("Is even ? ", is_even(4))
print("Is even ? ", is_even(9))

Is even ?  True
Is even ?  False

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
print(list1 + list2)

[1, 2, 3, 4, 5, 6]

In [ ]:
list1.append(10)
print(list1)

[1, 2, 3, 10]

In [ ]:
sum([1, 4, 9, 16])

30

In [ ]:
max([1, 16, 9, 4])

16

In [ ]:
min("Fred", "Ann", "Sue")

'Ann'

In [ ]:
values = [1, 16, 9, 4]
values.sort()
print(values)

[1, 4, 9, 16]

In [ ]:
value = [32,54,67.5,29,35,47.5]
price = value
value.remove(32)
print(value)
print(price)

[54, 67.5, 29, 35, 47.5]
[54, 67.5, 29, 35, 47.5]

In [ ]:
price = list(value)
value.remove(35)
print(value)
print(price)

[54, 67.5, 29, 47.5]
[54, 67.5, 29, 35, 47.5]

In [ ]:
temperatures = [18, 21, 24, 33, 39, 40, 39, 36, 30, 22, 18]
thirdQuarter = temperatures[6 : 9]
print(thirdQuarter)

[39, 36, 30]

In [ ]:
temp = temperatures[ : 6]  #Includes all elements up to, but not including, position 6
print(temp)

[18, 21, 24, 33, 39, 40]

In [ ]:
tem = temperatures[6 : ]  #Includes all elements starting at position 6 to the end of the list
print(tem)

[39, 36, 30, 22, 18]

In [ ]:
#You can assign values to a slice
tm = temperatures[6 : 9] = [45, 44, 40]
print(tm)
print(temperatures)

[45, 44, 40]
[18, 21, 24, 33, 39, 40, 45, 44, 40, 22, 18]

In [ ]:
name = ['Ali', 'Ahmed', 'Adam', 'Asama']
name[:3] = ['Amal', 'Alaa', 'Arwa']
print(name)

['Amal', 'Alaa', 'Arwa', 'Asama']

In [ ]:
values = []
for i in range(6):
  values.append(i * 2)
print(values)

[0, 2, 4, 6, 8, 10]

In [ ]:
result = 0.0
for element in values :
  result = result + element
print(result)

30.0

In [ ]:
names = ['Ali','Ahmed','Adam','Asama']

result = ""
for element in names:
  result = result + element
print(result)

AliAhmedAdamAsama

In [ ]:
values = [0, 2, 4, 6, 8, 10]
limit = 0
pos = 0
found = False
while pos < len(values) and not found :
  if values[pos] > limit :
    found = True
  else :
    pos = pos + 1
if found :
  print("Found at position : ", pos)
else :
  print("Not found")

Found at position :  1

In [ ]:
values = [0, 2, 4, 6, 8, 10]
limit = 0
found = False

for pos in range(len(values)):
    if values[pos] > limit:
        found = True
        break

if found:
    print("Found at position :", pos)
else:
    print("Not found")

Found at position : 1

In [ ]:
values = [0, 2, 4, 6, 8, 10]
limit = 0
positions = []

for pos in range(len(values)):
    if values[pos] > limit:
        positions.append(pos)

if positions:
    print("Found at positions:", positions)
else:
    print("Not found")

Found at positions: [1, 2, 3, 4, 5]

In [ ]:
countries = 3
meadls = 3

counts = [
    [1 , 2 , 3],
    [4 , 5 , 6],
    [7 , 8 , 9],
]
print(counts[1][2])

6

In [ ]:
contacts = {"Iman ": 9834,
            "Ibreez": 7384,
            "Zamzam": 8374}
print(contacts)

{'Iman ': 9834, 'Ibreez': 7384, 'Zamzam': 8374}

In [ ]:
numbers = contacts.get("Iman", 9834)
print("Dial "+ str(numbers))

Dial 9834

In [ ]:
contacts['Ibreez'] = 1111
print(contacts)

{'Iman ': 9834, 'Ibreez': 1111, 'Zamzam': 8374}

In [ ]:
colors = {}

colors["a"] = "Blue"
colors["b"] = "Red"
colors["c"] = "Pink"

print(colors)

{'a': 'Blue', 'b': 'Red', 'c': 'Pink'}